---
Language:                                       Cpp
BasedOnStyle:                                   Google
IndentWidth:                                    4
TabWidth:                                       4
UseTab:                                         ForContinuationAndIndentation
Standard:                                       Cpp11
AccessModifierOffset:                           -4
AlignAfterOpenBracket:                          DontAlign
AlignEscapedNewlines:                           Right
AlignTrailingComments:                          true
AllowShortCaseLabelsOnASingleLine:              true
AllowShortIfStatementsOnASingleLine:            Always
AllowShortFunctionsOnASingleLine:               Inline
AllowShortLoopsOnASingleLine :                  true
BitFieldColonSpacing:                           Both
BreakConstructorInitializers:                   AfterColon
BreakBeforeBraces:                              Allman
ColumnLimit:                                    0
PointerAlignment:                               Left
SpacesInAngles:                                 false
AllowShortLambdasOnASingleLine:                 All
AlignConsecutiveBitFields:                      true
KeepEmptyLinesAtTheStartOfBlocks:               false
IndentCaseLabels:                               false
BreakBeforeTernaryOperators:                    true
IncludeBlocks:                                  Regroup
IncludeCategories:
  - Regex:           '.*\.generated\.h'
    Priority:        100
  - Regex:           '.*(PCH).*'
    Priority:        -1
  - Regex:           '".*"'
    Priority:        1
  - Regex:           '^<.*\.(h)>'
    Priority:        3
  - Regex:           '^<.*>'
    Priority:        4
---
Language: ObjC
DisableFormat: true
...
